<p id="notice"><%= notice %></p>

<h1>Ownership Histories</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Car</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ownership_histories.each do |ownership_history| %>
      <tr>
        <td><%= ownership_history.owner_id %></td>
        <td><%= ownership_history.car_id %></td>
        <td><%= link_to 'Show', ownership_history %></td>
        <td><%= link_to 'Edit', edit_ownership_history_path(ownership_history) %></td>
        <td><%= link_to 'Destroy', ownership_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
