<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @ownership_history.owner_id %>
</p>

<p>
  <strong>Car:</strong>
  <%= @ownership_history.car_id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @ownership_history.admin_id %>
</p>

<%= link_to 'Edit', edit_ownership_history_path(@ownership_history) %> |
<%= link_to 'Back', ownership_histories_path %>
