<p id="notice"><%= notice %></p>

<p>
  <strong>Belongs to:</strong>
  <%= @ownership_history.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @ownership_history.belongs_to %>
</p>

<%= link_to 'Edit', edit_ownership_history_path(@ownership_history) %> |
<%= link_to 'Back', ownership_histories_path %>
